In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [8]:
# Lets load create data

data = [
    {"id": 1, "name": "John  Doe", "age": "29", "email": "JOHN.DOE@gmail.com ", "join_date": "2021-01-05", "salary": "55000", "phone": "555-123-4567"},
    {"id": 2, "name": "  mary jane", "age": None, "email": "maryjane(at)mail.com", "join_date": "05/12/2020", "salary": "62000", "phone": "(555) 222 3333"},
    {"id": 3, "name": "Mike", "age": "thirty", "email": "mike@gmail", "join_date": "2020.11.30", "salary": None, "phone": "5553332222"},
    {"id": 4, "name": "ANNA smith", "age": "42", "email": "anna.smith@gmail.com", "join_date": "", "salary": "72000.00", "phone": "555 444 1212"},
    {"id": 5, "name": "Bob", "age": "  35", "email": "bob@domain. com", "join_date": "2021-13-01", "salary": "61000", "phone": None},
    {"id": 6, "name": "John Doe", "age": "29", "email": "john.doe@gmail.com", "join_date": "2021-01-05", "salary": "55000", "phone": "5551234567"},  # duplicate
    {"id": 7, "name": "Sara   k", "age": "27", "email": "sara.k@mail.com", "join_date": "2021/04/02", "salary": "58000", "phone": "555-555-5555"},
    {"id": 8, "name": "liam O'Neil", "age": "", "email": "liam@oneil.com", "join_date": None, "salary": "67000", "phone": "555 888 1111"},
    {"id": 9, "name": "Emily", "age": "twenty five", "email": "emily@gmail.,com", "join_date": "12-03-2022", "salary": "59000$", "phone": "5557774444"},
    {"id": 10, "name": "Chris", "age": "30", "email": "chris@@mail.com", "join_date": "2022/02/10", "salary": "65000", "phone": "555.222.1111"},
    {"id": 11, "name": "   jason", "age": None, "email": "  jason@mail.com", "join_date": "2020-07-20", "salary": "70000", "phone": "555 111 0000"},
    {"id": 12, "name": "Nina", "age": "31 years", "email": "nina(at)gmail.com", "join_date": "2023-01-15", "salary": None, "phone": ""},
    {"id": 13, "name": "Kim", "age": " 28", "email": "kim@mail..com", "join_date": "2023/01/15", "salary": "63000", "phone": "555 100 200"},
    {"id": 14, "name": "Olivia", "age": "36", "email": "olivia@ mail.com", "join_date": "2021-05-05", "salary": "68000", "phone": "(555)-900-3000"},
    {"id": 15, "name": "john doe", "age": "29", "email": " john.doe@gmail.com", "join_date": "01-05-2021", "salary": "55000.00", "phone": "5551234567"},
    {"id": 16, "name": "Peter ", "age": "40", "email": "peter@mail.com", "join_date": "2020-05-25", "salary": "69000", "phone": None},
    {"id": 17, "name": "lara  CROFT", "age": "33", "email": "lara.croft@mail", "join_date": "2022/07/10", "salary": "72000", "phone": "555-000-9999"},
    {"id": 18, "name": "steve", "age": "38", "email": "steve @mail.com", "join_date": "2021-11-11", "salary": "71000$", "phone": "555-333-000"},
    {"id": 19, "name": "MARTIN", "age": None, "email": "martin@mail", "join_date": "11/11/2021", "salary": "69000", "phone": "5550003333"},
    {"id": 20, "name": "Alice", "age": "45", "email": "alice@@mail.com", "join_date": "2020-03-03", "salary": "87000", "phone": "555-555-1212"},
    {"id": 21, "name": "Sophia  ", "age": "  31", "email": "sophia@mail. com", "join_date": None, "salary": "69000", "phone": "555 888 444"},
    {"id": 22, "name": "daniel", "age": "29", "email": "daniel@mail..com", "join_date": "2021/8/20", "salary": "61000$", "phone": "555777888"},
    {"id": 23, "name": "Tom", "age": "", "email": "tom@yahoo,com", "join_date": "2021-13-10", "salary": "72000", "phone": "555--444--3333"},
    {"id": 24, "name": "Eva", "age": "twenty", "email": "eva@mailcom", "join_date": "15-07-2022", "salary": "59000.00", "phone": "555.111.222"},
    {"id": 25, "name": "SAM", "age": "40", "email": "sam@@mail.com", "join_date": "2020-10-10", "salary": "81000", "phone": "5550000000"},
    {"id": 26, "name": "kevin", "age": None, "email": "kevin@mail", "join_date": "", "salary": "67000", "phone": None},
    {"id": 27, "name": "Linda", "age": "27", "email": "linda @gmail.com", "join_date": "2021.02.02", "salary": "58000", "phone": "555 300 500"},
    {"id": 28, "name": "Paula", "age": "34", "email": "paula@mail.com ", "join_date": "2022/03/03", "salary": "69000", "phone": "(555) 777-8888"},
    {"id": 29, "name": "Rick", "age": "39", "email": "rick@@mail,com", "join_date": "03/15/2021", "salary": "72000$", "phone": "555-600-400"},
    {"id": 30, "name": " George", "age": " 41", "email": "george@mail. com", "join_date": "2023-02-30", "salary": "", "phone": "555 222 333"},
    {"id": 31, "name": "    mia", "age": "22", "email": "mia@mailcom", "join_date": None, "salary": "50000", "phone": "555111222"},
    {"id": 32, "name": "alex", "age": "29 years", "email": "alex@mail,com", "join_date": "2022-07-12", "salary": "62000", "phone": "555----777"},
    {"id": 33, "name": "ROBERT", "age": "35", "email": "robert @mail.com", "join_date": "2021/04/04", "salary": None, "phone": "555 000 111"},
    {"id": 34, "name": "Grace", "age": "30", "email": "grace@mail. com ", "join_date": "2021-09-09", "salary": "64000", "phone": "555-123-9999"},
    {"id": 35, "name": "helen", "age": "thirty-two", "email": "helen@mail,com", "join_date": "2020/05/06", "salary": "72000", "phone": "555.444.333"},
    {"id": 36, "name": "Victor", "age": "46", "email": "victor@mailcom", "join_date": "2023-01-21", "salary": "82000$", "phone": "555 888 222"},
    {"id": 37, "name": "Ross", "age": " 33", "email": "ross@ mail.com", "join_date": "2021-02-02", "salary": "71000", "phone": "555000111"},
    {"id": 38, "name": "Monica", "age": "29", "email": "monica@gmail..com", "join_date": "2021-04-04", "salary": "69000", "phone": "555-121-777"},
    {"id": 39, "name": "Rachel", "age": None, "email": "rachel @gmail.com", "join_date": None, "salary": "70000", "phone": "555 444 888"},
    {"id": 40, "name": "Joey", "age": "31", "email": "joey@mail..com", "join_date": "2020-06-10", "salary": "65000$", "phone": "555--121--000"}
]

In [17]:
# lets first convert our data into dataframe then save to csv file
d = pd.DataFrame(data)
d.to_csv("messyData.csv")

In [19]:
# lets read this data 
df = pd.read_csv("messyData.csv")
df

,Unnamed: 0,id,name,age,email,join_date,salary,phone
0,0,1,John Doe,29,JOHN.DOE@gmail.com,2021-01-05,55000,555-123-4567
1,1,2,mary jane,NaN,maryjane(at)mail.com,05/12/2020,62000,(555) 222 3333
2,2,3,Mike,thirty,mike@gmail,2020.11.30,NaN,5553332222
3,3,4,ANNA smith,42,anna.smith@gmail.com,NaN,72000.00,555 444 1212
4,4,5,Bob,35,bob@domain. com,2021-13-01,61000,NaN
5,5,6,John Doe,29,john.doe@gmail.com,2021-01-05,55000,5551234567
6,6,7,Sara k,27,sara.k@mail.com,2021/04/02,58000,555-555-5555
7,7,8,liam O'Neil,NaN,liam@oneil.com,NaN,67000,555 888 1111
8,8,9,Emily,twenty five,"emily@gmail.,com",12-03-2022,59000$,5557774444
9,9,10,Chris,30,chris@@mail.com,2022/02/10,65000,555.222.1111
10,10,11,jason,NaN,jason@mail.com,2020-07-20,70000,555 111 0000
11,11,12,Nina,31 years,nina(at)gmail.com,2023-01-15,NaN,NaN
12,12,13,Kim,28,kim@mail..com,2023/01/15,63000,555 100 200
13,13,14,Olivia,36,olivia@ mail.com,2021-05-05,68000,(555)-900-3000
14,14,15,john doe,29,john.doe@gmail.com,01-05-2021,55000.00,5551234567
15,15,16,Peter,40,peter@mail.com,2020-05-25,69000,NaN
16,16,17,lara CROFT,33,lara.croft@mail,2022/07/10,72000,555-000-9999
17,17,18,steve,38,steve @mail.com,2021-11-11,71000$,555-333-000
18,18,19,MARTIN,NaN,martin@mail,11/11/2021,69000,5550003333
19,19,20,Alice,45,alice@@mail.com,2020-03-03,87000,555-555-1212
20,20,21,Sophia,31,sophia@mail. com,NaN,69000,555 888 444
21,21,22,daniel,29,daniel@mail..com,2021/8/20,61000$,555777888
22,22,23,Tom,NaN,"tom@yahoo,com",2021-13-10,72000,555--444--3333
23,23,24,Eva,twenty,eva@mailcom,15-07-2022,59000.00,555.111.222
24,24,25,SAM,40,sam@@mail.com,2020-10-10,81000,5550000000
25,25,26,kevin,NaN,kevin@mail,NaN,67000,NaN
26,26,27,Linda,27,linda @gmail.com,2021.02.02,58000,555 300 500
27,27,28,Paula,34,paula@mail.com,2022/03/03,69000,(555) 777-8888
28,28,29,Rick,39,"rick@@mail,com",03/15/2021,72000$,555-600-400
29,29,30,George,41,george@mail. com,2023-02-30,NaN,555 222 333
30,30,31,mia,22,mia@mailcom,NaN,50000,555111222
31,31,32,alex,29 years,"alex@mail,com",2022-07-12,62000,555----777
32,32,33,ROBERT,35,robert @mail.com,2021/04/04,NaN,555 000 111
33,33,34,Grace,30,grace@mail. com,2021-09-09,64000,555-123-9999
34,34,35,helen,thirty-two,"helen@mail,com",2020/05/06,72000,555.444.333
35,35,36,Victor,46,victor@mailcom,2023-01-21,82000$,555 888 222
36,36,37,Ross,33,ross@ mail.com,2021-02-02,71000,555000111
37,37,38,Monica,29,monica@gmail..com,2021-04-04,69000,555-121-777
38,38,39,Rachel,NaN,rachel @gmail.com,NaN,70000,555 444 888
39,39,40,Joey,31,joey@mail..com,2020-06-10,65000$,555--121--000

In [32]:
# Lets see some details/infos:

df.describe # descrie the data
df.isna().sum() # count null values in each columns
df.isna().sum().sum()  # count null values in entire data

np.int64(21)

In [38]:
df["age"].isna()

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
20    False
21    False
22     True
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38     True
39    False
Name: age, dtype: bool

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  40 non-null     int64
 1   id          40 non-null     int64
 2   name        40 non-null     object
 3   age         33 non-null     object
 4   email       40 non-null     object
 5   join_date   34 non-null     object
 6   salary      36 non-null     object
 7   phone       36 non-null     object
dtypes: int64(2), object(6)
memory usage: 2.6+ KB

In [41]:
df.isna().sum()

Unnamed: 0    0
id            0
name          0
age           7
email         0
join_date     6
salary        4
phone         4
dtype: int64